.ui3-droplist{
    border: 0px;
    min-width: 80px;
    display: inline-block;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    position: relative;
    background: white;
    cursor: pointer;
    text-align: left;
    font: 14px Tahoma,Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,sans-serif;
}

.ui3-droplist-open{
    border: 1px solid #f5692f;
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
}

.ui3-droplist-arrow{
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #f5692f;
    border-bottom: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -3px;
    display: inline-block;
}

.ui3-droplist-open .ui3-droplist-arrow{
    border-bottom: 5px solid #f5692f;
    border-top: 0px;
}

.ui3-droplist-list{
    padding: 0px;
    margin: 0px;
    list-style: none;
    left: -1px;
    min-width: 80px;
    display: none;
    max-height: 200px;
    position: absolute;
    border: 1px solid #f5692f;
    border-radius: 0px 0px 3px 3px;
    border-top: 0px;
    overflow-y: auto;
    background: white;
    overflow-x: hidden;
}

.ui3-droplist-open .ui3-droplist-list{
    display: block;
}

.ui3-droplist-selected, .ui3-droplist-item a, .ui3-droplist-group-label{
    white-space: nowrap;
    line-height: 28px;
    display: block;
    color: #666;
}

.ui3-droplist-selected{
    overflow: hidden;
    padding-left: 5px;
    margin-right: 20px;
}

.ui3-droplist-item{
    margin: 0px;
    padding: 0px 22px 0px 5px;
    cursor: pointer;
}

.ui3-droplist-item:hover{
    background: #FF8447;
}

.ui3-droplist-item a:hover{
    background: #fbe4dd;
    color: #fd6921;
}

.ui3-droplist-group-label{
    margin-left: 5px;
    font-weight: bold;
}

.ui3-droplist-group ul{
    margin-left: 22px;
}